<h1>Lista de productos</h1>
<ul>
    {{#each products}}
    <li>{{this.title}} - {{description}} - $ {{price}} </li>
    {{/each}}
</ul>

<a href="/realtimeproducts">Ir a realtimeproducts</a>
<a href="/">Volver a la home</a>
<hr>

{{#if hasPrevPage}}
    <a href="/products?pagina={{prevPage}}">Pag.Ant.</a>
{{/if}}

{{#if hasNextPage}}
    <a href="/products?pagina={{nextPage}}">Pag.Sig.</a>
{{/if}}

<a href="/products?pagina={{totalPages}}">Ult. Pag.</a>
